<!-- Titulo componente  -->
<div class="title-group">
	<h1 class="mat-h1">Registro de Team</h1>
	<mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
	<form [formGroup]="teamForm" (ngSubmit)="submitTeamForm()" #resetTeamForm="ngForm" novalidate>
		<!-- Left block -->
		<mat-card>
			<div class="controlers-wrapper">

				<!-- Nombre team -->
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Nombre del Team" formControlName="team_name">
					<mat-error *ngIf="handleError('team_name', 'required')">
						Campo obligatorio<strong> Nombre del team</strong>
					</mat-error>
        </mat-form-field>

        <!-- nombre lider -->
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Nombre del líder" formControlName="lider_name">
					<mat-error *ngIf="handleError('lider_name', 'required')">
						Campo obligatorio <strong>Nombre de líder</strong>
					</mat-error>
        </mat-form-field>

        <!-- Id de pubg -->
        <mat-form-field class="example-full-width">
					<input matInput placeholder="ID del líder" formControlName="id_pubg">
					<mat-error *ngIf="handleError('id_pubg', 'required')">
						Campo obligatorio <strong>ID de jugador</strong>
					</mat-error>
				</mat-form-field>

        <!-- discord -->
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Id Discord" formControlName="discord">
					<mat-error *ngIf="handleError('discord', 'required')">
						Campo obligatorio <strong>Id discord</strong>
					</mat-error>
				</mat-form-field>

        <!-- departamento -->
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Departamento" formControlName="departamento">
					<mat-error *ngIf="handleError('departamento', 'required')">
						Campo obligatorio <strong>Departamento</strong>
					</mat-error>
				</mat-form-field>

				<!-- Email -->
				<mat-form-field class="example-full-width">
					<input matInput placeholder="email del lider" formControlName="team_email">
					<mat-error *ngIf="handleError('team_email', 'required')">
						Campo obligatorio <strong>email</strong>
					</mat-error>
				</mat-form-field>


				<!-- Section
        <mat-form-field>
          <mat-label>Section</mat-label>
          <mat-select [(value)]="selectable" formControlName="section">
            <mat-option [value]="sectioinArray" *ngFor="let sectioinArray of SectioinArray">{{sectioinArray}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('section', 'required')">
            Sección requerida
          </mat-error>
        </mat-form-field>-->
			</div>
		</mat-card>

		<!-- Right block -->
		<mat-card>
			<div class="controlers-wrapper">

				<!-- Add subjects -->
				<mat-form-field class="multiple-items">
					<mat-chip-list #chipList>
						<mat-chip *ngFor="let subjectArray of subjectArray" [selectable]="selectable"
							[removable]="removable" (removed)="remove(subjectArray)">
							{{subjectArray.name}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
						<input placeholder="Ingresar integrantes" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
						<i class="material-icons tooltip-info" matTooltip="Ingresa el nombre de los integrantes del team y luego presiona enter">
            info
          </i>
				</mat-form-field>

				<!--fecha
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
            (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('dob', 'required')">
            Date of birth is required
          </mat-error>
        </mat-form-field> -->
			</div>
		</mat-card>

		<!-- Submit & Reset -->
		<mat-card>
			<div class="full-wrapper button-wrapper">
				<div class="button-wrapper">
					<button mat-flat-button color="warn">Registrar</button>
				</div>
			</div>
		</mat-card>
	</form>
</div>
